# Get BOT_TOKEN from @BotFather on Telegram
BOT_TOKEN=your_bot_token
ADMIN_ID=122315454
# Get API_ID and API_HASH from https://my.telegram.org
API_ID=44894561321
API_HASH=1256d46156c4ccv4d6v4d8cv7v6cx1vcx8v7

